<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle/bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1239},{314,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,32}}</string>
                <key>sourceSize</key>
                <string>{314,32}</string>
            </dict>
            <key>battle/bar_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1555},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>battle/bar_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1232},{152,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,16}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>battle/bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1239},{486,661}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,661}}</string>
                <key>sourceSize</key>
                <string>{486,661}</string>
            </dict>
            <key>battle/bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1560},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>battle/btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,949},{102,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>battle/btn_break.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,690},{140,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>battle/btn_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,548},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>battle/btn_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1239},{195,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,80}}</string>
                <key>sourceSize</key>
                <string>{195,80}</string>
            </dict>
            <key>battle/btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,657},{229,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,115}}</string>
                <key>sourceSize</key>
                <string>{229,115}</string>
            </dict>
            <key>battle/icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,308},{50,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{50,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1466},{58,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{58,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1384},{60,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1662},{60,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,354},{42,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{42,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1667},{56,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1630},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle/icon_consume.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{209,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,47}}</string>
                <key>sourceSize</key>
                <string>{209,47}</string>
            </dict>
            <key>battle/icon_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1572},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle/label_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,213},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,33}}</string>
                <key>sourceSize</key>
                <string>{93,33}</string>
            </dict>
            <key>battle/pg/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1261},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1232},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1598},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1688},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1572},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1688},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,522},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,496},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,840},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1546},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/shop/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1235,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1235,714}}</string>
                <key>sourceSize</key>
                <string>{1235,714}</string>
            </dict>
            <key>battle/shop/bg_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{195,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,354}}</string>
                <key>sourceSize</key>
                <string>{195,354}</string>
            </dict>
            <key>battle/shop/bg_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1075},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>battle/shop/btm_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,358},{188,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,94}}</string>
                <key>sourceSize</key>
                <string>{188,94}</string>
            </dict>
            <key>battle/shop/btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1038},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>battle/shop/icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1667},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>battle/shop/icon_product.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1514},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle/shop/icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,358},{297,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,105}}</string>
                <key>sourceSize</key>
                <string>{297,105}</string>
            </dict>
            <key>battle/shop/item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1384},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>battle/shop/item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1560},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>battle/shop/item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,840},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
            <key>battle/shop/item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1436},{137,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{137,122}</string>
            </dict>
            <key>battle/shop/item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1235},{147,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,145}}</string>
                <key>sourceSize</key>
                <string>{147,145}</string>
            </dict>
            <key>battle/shop/item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,888},{154,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,185}}</string>
                <key>sourceSize</key>
                <string>{154,185}</string>
            </dict>
            <key>battle/shop/prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1144},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>battle/shop/prop_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1466},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>battle/star_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,453},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>battle/star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,410},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{978,1727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9568a9b36a3419e3646bae977c93236f:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
