<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,457},{202,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,243}}</string>
                <key>sourceSize</key>
                <string>{202,243}</string>
            </dict>
            <key>b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,457},{212,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,244}}</string>
                <key>sourceSize</key>
                <string>{212,244}</string>
            </dict>
            <key>bg_kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,148},{234,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,139}}</string>
                <key>sourceSize</key>
                <string>{234,139}</string>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,64},{10,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,82}}</string>
                <key>sourceSize</key>
                <string>{10,82}</string>
            </dict>
            <key>bg_wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{191,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,57}}</string>
                <key>sourceSize</key>
                <string>{191,57}</string>
            </dict>
            <key>blood_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{672,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,60}}</string>
                <key>sourceSize</key>
                <string>{672,60}</string>
            </dict>
            <key>blood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{521,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,29}}</string>
                <key>sourceSize</key>
                <string>{521,29}</string>
            </dict>
            <key>btnSettings.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,148},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,148},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>btn_ad_revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,64},{337,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,80}}</string>
                <key>sourceSize</key>
                <string>{337,80}</string>
            </dict>
            <key>btn_consume.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,457},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>btn_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,64},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,291},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>btn_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,291},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>btn_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,291},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_pay_revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,64},{337,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,80}}</string>
                <key>sourceSize</key>
                <string>{337,80}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,291},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,291},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>btn_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,291},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>btn_strong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,64},{195,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,80}}</string>
                <key>sourceSize</key>
                <string>{195,80}</string>
            </dict>
            <key>c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,457},{219,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,232}}</string>
                <key>sourceSize</key>
                <string>{219,232}</string>
            </dict>
            <key>cd/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,64},{221,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,68}}</string>
                <key>sourceSize</key>
                <string>{221,68}</string>
            </dict>
            <key>cd/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,148},{235,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,135}}</string>
                <key>sourceSize</key>
                <string>{235,135}</string>
            </dict>
            <key>cd/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{228,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,168}}</string>
                <key>sourceSize</key>
                <string>{228,168}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,457},{221,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,234}}</string>
                <key>sourceSize</key>
                <string>{221,234}</string>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,457},{368,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,194}}</string>
                <key>sourceSize</key>
                <string>{368,194}</string>
            </dict>
            <key>icon_highest.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,148},{128,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,99}}</string>
                <key>sourceSize</key>
                <string>{128,99}</string>
            </dict>
            <key>icon_kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,148},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>icon_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,148},{271,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,120}}</string>
                <key>sourceSize</key>
                <string>{271,120}</string>
            </dict>
            <key>lianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{191,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,59}}</string>
                <key>sourceSize</key>
                <string>{191,59}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,64},{2,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,67}}</string>
                <key>sourceSize</key>
                <string>{2,67}</string>
            </dict>
            <key>reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{908,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,145}}</string>
                <key>sourceSize</key>
                <string>{908,145}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,457},{184,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,225}}</string>
                <key>sourceSize</key>
                <string>{184,225}</string>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{249,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,98}}</string>
                <key>sourceSize</key>
                <string>{249,98}</string>
            </dict>
            <key>title_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,148},{297,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,105}}</string>
                <key>sourceSize</key>
                <string>{297,105}</string>
            </dict>
            <key>wave_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,16}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>wave_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>wave_pg_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>wave_pg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{1908,703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f9b59b9ee5f67de7af21dcb6d1b2a68:27de27cdec101444f04cd9c53717aeb0:aefc46271a528250973e047b84db9856$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
