<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_kill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,139}</string>
                <key>spriteSourceSize</key>
                <string>{234,139}</string>
                <key>textureRect</key>
                <string>{{512,379},{234,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,82}</string>
                <key>spriteSourceSize</key>
                <string>{10,82}</string>
                <key>textureRect</key>
                <string>{{877,186},{10,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,57}</string>
                <key>spriteSourceSize</key>
                <string>{191,57}</string>
                <key>textureRect</key>
                <string>{{2,54},{191,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,60}</string>
                <key>spriteSourceSize</key>
                <string>{672,60}</string>
                <key>textureRect</key>
                <string>{{2,116},{672,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,29}</string>
                <key>spriteSourceSize</key>
                <string>{521,29}</string>
                <key>textureRect</key>
                <string>{{318,2},{521,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSettings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{253,270},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{748,379},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ad_revive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,80}</string>
                <key>spriteSourceSize</key>
                <string>{337,80}</string>
                <key>textureRect</key>
                <string>{{538,186},{337,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_consume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,220}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{768,835},{220,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{903,116},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{2,669},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_music_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{500,669},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_music_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{2,835},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{388,54},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pay_revive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,80}</string>
                <key>spriteSourceSize</key>
                <string>{337,80}</string>
                <key>textureRect</key>
                <string>{{2,186},{337,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{168,669},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{334,669},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{666,669},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_strong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,80}</string>
                <key>textureRect</key>
                <string>{{341,186},{195,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cd/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,68}</string>
                <key>spriteSourceSize</key>
                <string>{221,68}</string>
                <key>textureRect</key>
                <string>{{680,116},{221,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cd/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,135}</string>
                <key>spriteSourceSize</key>
                <string>{235,135}</string>
                <key>textureRect</key>
                <string>{{275,379},{235,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cd/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,168}</string>
                <key>spriteSourceSize</key>
                <string>{228,168}</string>
                <key>textureRect</key>
                <string>{{168,835},{228,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,194}</string>
                <key>spriteSourceSize</key>
                <string>{368,194}</string>
                <key>textureRect</key>
                <string>{{398,835},{368,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_highest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,99}</string>
                <key>spriteSourceSize</key>
                <string>{124,99}</string>
                <key>textureRect</key>
                <string>{{352,270},{124,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,107}</string>
                <key>spriteSourceSize</key>
                <string>{85,107}</string>
                <key>textureRect</key>
                <string>{{777,270},{85,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_life.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,50}</string>
                <key>textureRect</key>
                <string>{{913,2},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,120}</string>
                <key>spriteSourceSize</key>
                <string>{271,120}</string>
                <key>textureRect</key>
                <string>{{2,379},{271,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lianji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,59}</string>
                <key>spriteSourceSize</key>
                <string>{191,59}</string>
                <key>textureRect</key>
                <string>{{195,54},{191,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,67}</string>
                <key>spriteSourceSize</key>
                <string>{2,67}</string>
                <key>textureRect</key>
                <string>{{676,116},{2,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reward_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{908,145}</string>
                <key>spriteSourceSize</key>
                <string>{908,145}</string>
                <key>textureRect</key>
                <string>{{2,522},{908,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,98}</string>
                <key>spriteSourceSize</key>
                <string>{249,98}</string>
                <key>textureRect</key>
                <string>{{2,270},{249,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,105}</string>
                <key>spriteSourceSize</key>
                <string>{297,105}</string>
                <key>textureRect</key>
                <string>{{478,270},{297,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,16}</string>
                <key>spriteSourceSize</key>
                <string>{152,16}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,24}</string>
                <key>spriteSourceSize</key>
                <string>{160,24}</string>
                <key>textureRect</key>
                <string>{{156,2},{160,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_pg_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{877,2},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_pg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{841,2},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{990,1057}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d44a3416d1e06ddcc27cc460f742b6:219ea9c43c324dbb35e0d9a7c5eb8be4:aefc46271a528250973e047b84db9856$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
