<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,2},{239,162}}</string>
                <key>offset</key>
                <string>{1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,163},{239,162}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,620},{287,230}}</string>
                <key>offset</key>
                <string>{11,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,87},{287,230}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,298},{245,208}}</string>
                <key>offset</key>
                <string>{10,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,118},{245,208}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{319,262}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{319,262}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{297,294}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{297,294}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,318},{297,300}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{297,300}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{297,304}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{297,304}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{297,314}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{297,314}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{297,320}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{297,320}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,320}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{297,320}}</string>
                <key>sourceSize</key>
                <string>{319,326}</string>
            </dict>
            <key>xingtian_attack_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,858},{179,177}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,64},{179,177}}</string>
                <key>sourceSize</key>
                <string>{253,297}</string>
            </dict>
            <key>xingtian_attack_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1273},{140,199}}</string>
                <key>offset</key>
                <string>{-45,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,58},{140,199}}</string>
                <key>sourceSize</key>
                <string>{314,257}</string>
            </dict>
            <key>xingtian_attack_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,869},{179,175}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,49},{179,175}}</string>
                <key>sourceSize</key>
                <string>{243,225}</string>
            </dict>
            <key>xingtian_corpse.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,380},{191,141}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,78},{191,141}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,237},{141,199}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,5},{141,199}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,231},{187,169}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,12},{187,169}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,663},{201,193}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{201,193}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,858},{165,195}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{165,195}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,508},{153,203}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,12},{153,203}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,852},{157,203}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{157,203}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1037},{165,189}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{165,189}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1011},{185,185}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,46},{185,185}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_dead9.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,663},{193,149}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{193,149}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>xingtian_pre_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,535},{166,189}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{166,189}}</string>
                <key>sourceSize</key>
                <string>{184,193}</string>
            </dict>
            <key>xingtian_pre_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,373},{180,177}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{180,177}}</string>
                <key>sourceSize</key>
                <string>{184,193}</string>
            </dict>
            <key>xingtian_pre_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1045},{184,181}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{184,181}}</string>
                <key>sourceSize</key>
                <string>{184,193}</string>
            </dict>
            <key>xingtian_pre_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,185},{180,187}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{180,187}}</string>
                <key>sourceSize</key>
                <string>{184,193}</string>
            </dict>
            <key>xingtian_pre_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,183},{168,183}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{168,183}}</string>
                <key>sourceSize</key>
                <string>{184,193}</string>
            </dict>
            <key>xingtian_pre_attack_D1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{179,227}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{179,227}}</string>
                <key>sourceSize</key>
                <string>{197,233}</string>
            </dict>
            <key>xingtian_pre_attack_D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{193,227}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{193,227}}</string>
                <key>sourceSize</key>
                <string>{197,233}</string>
            </dict>
            <key>xingtian_pre_attack_D3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1273},{195,229}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{195,229}}</string>
                <key>sourceSize</key>
                <string>{197,233}</string>
            </dict>
            <key>xingtian_pre_attack_D4.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{193,233}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,233}}</string>
                <key>sourceSize</key>
                <string>{197,233}</string>
            </dict>
            <key>xingtian_pre_attack_D5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,2},{181,231}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{181,231}}</string>
                <key>sourceSize</key>
                <string>{197,233}</string>
            </dict>
            <key>xingtian_pre_attack_R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1025},{192,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,172}}</string>
                <key>sourceSize</key>
                <string>{192,174}</string>
            </dict>
            <key>xingtian_pre_attack_R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,703},{188,164}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{188,164}}</string>
                <key>sourceSize</key>
                <string>{192,174}</string>
            </dict>
            <key>xingtian_pre_attack_R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,703},{182,164}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{182,164}}</string>
                <key>sourceSize</key>
                <string>{192,174}</string>
            </dict>
            <key>xingtian_pre_attack_R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,869},{180,164}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{180,164}}</string>
                <key>sourceSize</key>
                <string>{192,174}</string>
            </dict>
            <key>xingtian_pre_attack_R5.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,869},{186,174}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{186,174}}</string>
                <key>sourceSize</key>
                <string>{192,174}</string>
            </dict>
            <key>xingtian_run_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,898},{168,160}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{168,160}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,535},{168,166}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{168,166}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1231},{170,156}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,33},{170,156}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1204},{172,160}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,29},{172,160}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,552},{176,166}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{176,166}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,730},{178,166}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{178,166}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,552},{180,160}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,898},{178,158}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{178,158}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1224},{178,160}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{178,160}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,730},{174,162}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{174,162}}</string>
                <key>sourceSize</key>
                <string>{180,190}</string>
            </dict>
            <key>xingtian_run_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,374},{159,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{159,180}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,368},{159,182}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,182}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,344},{149,182}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{149,182}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,523},{137,188}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{137,188}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,402},{131,190}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{131,190}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,185},{135,186}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{135,186}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,730},{137,180}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{137,180}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1412},{133,174}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{133,174}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1204},{139,174}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{139,174}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,528},{149,178}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{149,178}}</string>
                <key>sourceSize</key>
                <string>{163,192}</string>
            </dict>
            <key>xingtian_run_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1393},{150,172}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{150,172}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,714},{152,176}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{152,176}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1389},{152,170}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{152,170}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1228},{156,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{156,174}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1051},{160,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1229},{162,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,176}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1386},{160,172}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,172}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1386},{156,172}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{156,172}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1393},{154,174}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{154,174}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_run_u_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1393},{154,174}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{154,174}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>xingtian_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1058},{178,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1051},{182,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1046},{182,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,166},{182,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,552},{180,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,869},{178,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1236},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1236},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1060},{174,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{174,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
            <key>xingtian_stand_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1199},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{182,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creatures3.png</string>
            <key>size</key>
            <string>{2043,1549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35c372627e77a48ac714e06fa6e3e7a0:1/1$</string>
            <key>textureFileName</key>
            <string>creatures3.png</string>
        </dict>
    </dict>
</plist>
