<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>languaifuhuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{180,216}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,145},{180,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{216,242}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,132},{216,242}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,398},{292,346}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,51},{292,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,802},{292,384}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{292,384}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{292,386}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{292,386}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{292,394}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,3},{292,394}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,402},{292,398}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{292,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{292,398}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{292,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,398}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{292,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{292,398}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{292,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>languaifuhuo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,398}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{292,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>yue_attack_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1596},{119,230}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,8},{119,230}}</string>
                <key>sourceSize</key>
                <string>{223,238}</string>
            </dict>
            <key>yue_attack_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,979},{130,223}}</string>
                <key>offset</key>
                <string>{-42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{130,223}}</string>
                <key>sourceSize</key>
                <string>{224,239}</string>
            </dict>
            <key>yue_attack_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1199},{125,210}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,26},{125,210}}</string>
                <key>sourceSize</key>
                <string>{245,236}</string>
            </dict>
            <key>yue_corpse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,701},{193,133}}</string>
                <key>offset</key>
                <string>{-20,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,164},{193,133}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1581},{131,223}}</string>
                <key>offset</key>
                <string>{-45,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{131,223}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,828},{193,137}}</string>
                <key>offset</key>
                <string>{-20,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,160},{193,137}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1199},{169,211}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{169,211}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{233,247}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{233,247}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1188},{233,215}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{233,215}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,2},{205,229}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{205,229}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,474},{197,123}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,123},{197,123}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1412},{189,167}}</string>
                <key>offset</key>
                <string>{-15,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,122},{189,167}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1828},{189,165}}</string>
                <key>offset</key>
                <string>{-18,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,124},{189,165}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_dead9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1428},{191,153}}</string>
                <key>offset</key>
                <string>{-19,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,144},{191,153}}</string>
                <key>sourceSize</key>
                <string>{241,297}</string>
            </dict>
            <key>yue_pre_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1204},{176,212}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{176,212}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>yue_pre_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1209},{164,214}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{164,214}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>yue_pre_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1806},{164,218}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{164,218}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>yue_pre_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,967},{164,230}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{164,230}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>yue_pre_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,967},{164,222}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{164,222}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>yue_pre_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1806},{176,220}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{176,220}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>yue_pre_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1400},{194,214}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{194,214}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>yue_pre_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,746},{204,232}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{204,232}}</string>
                <key>sourceSize</key>
                <string>{216,256}</string>
            </dict>
            <key>yue_pre_attack_D0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,470},{139,229}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{139,229}}</string>
                <key>sourceSize</key>
                <string>{145,235}</string>
            </dict>
            <key>yue_pre_attack_D1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,746},{133,231}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{133,231}}</string>
                <key>sourceSize</key>
                <string>{145,235}</string>
            </dict>
            <key>yue_pre_attack_D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,497},{129,233}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{129,233}}</string>
                <key>sourceSize</key>
                <string>{145,235}</string>
            </dict>
            <key>yue_pre_attack_D3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,836},{129,235}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{129,235}}</string>
                <key>sourceSize</key>
                <string>{145,235}</string>
            </dict>
            <key>yue_pre_attack_D4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1191},{127,235}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{127,235}}</string>
                <key>sourceSize</key>
                <string>{145,235}</string>
            </dict>
            <key>yue_pre_attack_D5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,837},{135,235}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{135,235}}</string>
                <key>sourceSize</key>
                <string>{145,235}</string>
            </dict>
            <key>yue_pre_attack_D6.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,732},{145,233}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,233}}</string>
                <key>sourceSize</key>
                <string>{145,235}</string>
            </dict>
            <key>yue_pre_attack_D7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,974},{143,227}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{143,227}}</string>
                <key>sourceSize</key>
                <string>{145,235}</string>
            </dict>
            <key>yue_pre_attack_R0.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,251},{188,247}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{188,247}}</string>
                <key>sourceSize</key>
                <string>{210,255}</string>
            </dict>
            <key>yue_pre_attack_R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1802},{165,224}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{165,224}}</string>
                <key>sourceSize</key>
                <string>{189,230}</string>
            </dict>
            <key>yue_pre_attack_R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,470},{161,228}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{161,228}}</string>
                <key>sourceSize</key>
                <string>{189,230}</string>
            </dict>
            <key>yue_pre_attack_R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,967},{155,230}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{155,230}}</string>
                <key>sourceSize</key>
                <string>{189,230}</string>
            </dict>
            <key>yue_pre_attack_R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,676},{159,230}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{159,230}}</string>
                <key>sourceSize</key>
                <string>{189,230}</string>
            </dict>
            <key>yue_pre_attack_R5.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,500},{189,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,230}}</string>
                <key>sourceSize</key>
                <string>{189,230}</string>
            </dict>
            <key>yue_pre_attack_R6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1405},{189,226}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{189,226}}</string>
                <key>sourceSize</key>
                <string>{189,230}</string>
            </dict>
            <key>yue_pre_attack_R7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1806},{177,220}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{177,220}}</string>
                <key>sourceSize</key>
                <string>{189,230}</string>
            </dict>
            <key>yue_run_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,469},{114,229}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,54},{114,229}}</string>
                <key>sourceSize</key>
                <string>{126,283}</string>
            </dict>
            <key>yue_run_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,732},{114,233}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,50},{114,233}}</string>
                <key>sourceSize</key>
                <string>{126,283}</string>
            </dict>
            <key>yue_run_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,212},{126,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,283}}</string>
                <key>sourceSize</key>
                <string>{126,283}</string>
            </dict>
            <key>yue_run_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1531},{118,221}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,62},{118,221}}</string>
                <key>sourceSize</key>
                <string>{126,283}</string>
            </dict>
            <key>yue_run_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1651},{116,221}}</string>
                <key>offset</key>
                <string>{5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,62},{116,221}}</string>
                <key>sourceSize</key>
                <string>{126,283}</string>
            </dict>
            <key>yue_run_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1581},{110,219}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,64},{110,219}}</string>
                <key>sourceSize</key>
                <string>{126,283}</string>
            </dict>
            <key>yue_run_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1651},{108,217}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,66},{108,217}}</string>
                <key>sourceSize</key>
                <string>{126,283}</string>
            </dict>
            <key>yue_run_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1725},{112,225}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,58},{112,225}}</string>
                <key>sourceSize</key>
                <string>{126,283}</string>
            </dict>
            <key>yue_run_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1596},{210,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>yue_run_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1592},{206,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>yue_run_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1596},{206,208}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>yue_run_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1382},{208,208}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>yue_run_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1190},{212,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>yue_run_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{212,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>yue_run_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,980},{210,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{210,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>yue_run_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{212,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,208}}</string>
                <key>sourceSize</key>
                <string>{212,208}</string>
            </dict>
            <key>yue_run_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1583},{140,226}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,226}}</string>
                <key>sourceSize</key>
                <string>{152,226}</string>
            </dict>
            <key>yue_run_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1393},{136,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,226}}</string>
                <key>sourceSize</key>
                <string>{152,226}</string>
            </dict>
            <key>yue_run_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1571},{140,226}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,226}}</string>
                <key>sourceSize</key>
                <string>{152,226}</string>
            </dict>
            <key>yue_run_u_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1425},{144,226}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,226}}</string>
                <key>sourceSize</key>
                <string>{152,226}</string>
            </dict>
            <key>yue_run_u_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1247},{144,226}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,226}}</string>
                <key>sourceSize</key>
                <string>{152,226}</string>
            </dict>
            <key>yue_run_u_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1802},{138,224}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{138,224}}</string>
                <key>sourceSize</key>
                <string>{152,226}</string>
            </dict>
            <key>yue_run_u_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1799},{136,226}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{136,226}}</string>
                <key>sourceSize</key>
                <string>{152,226}</string>
            </dict>
            <key>yue_run_u_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,212},{140,226}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,226}}</string>
                <key>sourceSize</key>
                <string>{152,226}</string>
            </dict>
            <key>yue_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{120,230}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{120,230}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,233},{120,234}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{120,234}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,440},{124,234}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{124,234}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1119},{126,236}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{126,236}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,967},{128,240}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,240}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,340},{128,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,244}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,251},{128,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,244}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,700},{126,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,242}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,234},{122,238}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{122,238}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
            <key>yue_stand_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1725},{122,236}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{122,236}}</string>
                <key>sourceSize</key>
                <string>{128,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creatures9.png</string>
            <key>size</key>
            <string>{1877,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cb9c026035ddc22a9e1a72208c67eb5:1/1$</string>
            <key>textureFileName</key>
            <string>creatures9.png</string>
        </dict>
    </dict>
</plist>
