<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>broken_javelin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,601},{88,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,10}}</string>
                <key>sourceSize</key>
                <string>{88,10}</string>
            </dict>
            <key>broken_javelin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,298},{68,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,8}}</string>
                <key>sourceSize</key>
                <string>{70,10}</string>
            </dict>
            <key>ding_attack_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,429},{85,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,159}}</string>
                <key>sourceSize</key>
                <string>{85,161}</string>
            </dict>
            <key>ding_attack_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{135,145}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{135,145}}</string>
                <key>sourceSize</key>
                <string>{217,145}</string>
            </dict>
            <key>ding_attack_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,139},{83,136}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{83,136}}</string>
                <key>sourceSize</key>
                <string>{85,154}</string>
            </dict>
            <key>ding_corpse.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,154},{137,135}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{137,135}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>ding_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,735},{133,145}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,145}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>ding_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,590},{137,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,143}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>ding_dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,882},{137,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,143}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>ding_dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{137,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,143}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>ding_dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{137,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,145}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>ding_dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,882},{137,135}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{137,135}}</string>
                <key>sourceSize</key>
                <string>{137,145}</string>
            </dict>
            <key>ding_pre_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,297},{87,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>ding_pre_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,880},{83,139}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>ding_pre_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,880},{83,139}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>ding_pre_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,635},{83,139}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>ding_pre_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,884},{83,139}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>ding_pre_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,880},{83,139}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>ding_pre_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,880},{83,139}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>ding_pre_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,312},{87,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>ding_pre_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,881},{87,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,138}}</string>
                <key>sourceSize</key>
                <string>{87,138}</string>
            </dict>
            <key>ding_pre_attack_D1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,384},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,298},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_D3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,549},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_D4.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,386},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_D5.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,386},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_D6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,401},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_D7.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,137},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_D8.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,135},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_D9.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,149},{84,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,161}}</string>
                <key>sourceSize</key>
                <string>{84,161}</string>
            </dict>
            <key>ding_pre_attack_R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_pre_attack_R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,149},{158,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_pre_attack_R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{158,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_pre_attack_R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_pre_attack_R5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{158,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_pre_attack_R6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,149},{156,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_pre_attack_R7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,296},{156,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_pre_attack_R8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{156,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_pre_attack_R9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,145}}</string>
                <key>sourceSize</key>
                <string>{158,145}</string>
            </dict>
            <key>ding_run_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,725},{83,154}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{83,154}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,724},{83,158}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{83,158}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,483},{83,150}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{83,150}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,569},{83,154}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{83,154}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,401},{83,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,166}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,139},{83,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,168}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,516},{83,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,168}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,224},{83,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,166}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,635},{83,160}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{83,160}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,384},{83,160}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{83,160}}</string>
                <key>sourceSize</key>
                <string>{83,168}</string>
            </dict>
            <key>ding_run_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{131,149}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{131,149}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,601},{129,145}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{129,145}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{133,149}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{133,149}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,732},{127,147}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{127,147}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{131,153}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{131,153}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,296},{131,153}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{131,153}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,443},{137,149}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{137,149}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{143,147}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{143,147}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{147,143}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{147,143}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{139,141}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{139,141}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>ding_run_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,880},{83,139}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{83,139}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,829},{85,141}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,141}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,735},{83,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,145}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,742},{85,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,143}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,655},{85,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,143}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,641},{85,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,145}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,568},{85,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,145}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,396},{85,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,145}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,309},{85,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,145}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_run_u_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,829},{85,141}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,141}}</string>
                <key>sourceSize</key>
                <string>{85,145}</string>
            </dict>
            <key>ding_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,555},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,720},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,549},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,720},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,469},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,309},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,309},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,720},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,720},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>ding_stand_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,564},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>javelin.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,135},{17,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,185}}</string>
                <key>sourceSize</key>
                <string>{17,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creatures5.png</string>
            <key>size</key>
            <string>{1314,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:918772d1d84581f43c769b6476919387:1/1$</string>
            <key>textureFileName</key>
            <string>creatures5.png</string>
        </dict>
    </dict>
</plist>
