<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jie_attack_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,151},{97,138}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{97,138}}</string>
                <key>sourceSize</key>
                <string>{163,272}</string>
            </dict>
            <key>jie_attack_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,280},{70,137}}</string>
                <key>offset</key>
                <string>{-29,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,35},{70,137}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>jie_attack_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,406},{98,125}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,54},{98,125}}</string>
                <key>sourceSize</key>
                <string>{178,209}</string>
            </dict>
            <key>jie_corpse.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,316},{149,77}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,80},{149,77}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,141},{69,137}}</string>
                <key>offset</key>
                <string>{-32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{69,137}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,278},{87,135}}</string>
                <key>offset</key>
                <string>{-41,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{87,135}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,280},{93,137}}</string>
                <key>offset</key>
                <string>{-44,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,137}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,141},{87,137}}</string>
                <key>offset</key>
                <string>{-41,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{87,137}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,2},{67,121}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{67,121}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,125},{67,119}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{67,119}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_dead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,2},{91,131}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{91,131}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_dead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{147,109}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{147,109}}</string>
                <key>sourceSize</key>
                <string>{181,157}</string>
            </dict>
            <key>jie_pre_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{72,137}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,137}}</string>
                <key>sourceSize</key>
                <string>{72,141}</string>
            </dict>
            <key>jie_pre_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,294},{72,139}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,139}}</string>
                <key>sourceSize</key>
                <string>{72,141}</string>
            </dict>
            <key>jie_pre_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,151},{72,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,141}}</string>
                <key>sourceSize</key>
                <string>{72,141}</string>
            </dict>
            <key>jie_pre_attack_D1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,172},{75,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,168}}</string>
                <key>sourceSize</key>
                <string>{75,168}</string>
            </dict>
            <key>jie_pre_attack_D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,168}}</string>
                <key>sourceSize</key>
                <string>{75,168}</string>
            </dict>
            <key>jie_pre_attack_D3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{75,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,168}}</string>
                <key>sourceSize</key>
                <string>{75,168}</string>
            </dict>
            <key>jie_pre_attack_D_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,168}}</string>
                <key>sourceSize</key>
                <string>{75,168}</string>
            </dict>
            <key>jie_pre_attack_R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,159},{106,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,155}}</string>
                <key>sourceSize</key>
                <string>{106,157}</string>
            </dict>
            <key>jie_pre_attack_R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{106,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,155}}</string>
                <key>sourceSize</key>
                <string>{106,157}</string>
            </dict>
            <key>jie_pre_attack_R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{102,157}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,157}}</string>
                <key>sourceSize</key>
                <string>{106,157}</string>
            </dict>
            <key>jie_pre_attack_R_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,342},{106,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,155}}</string>
                <key>sourceSize</key>
                <string>{106,157}</string>
            </dict>
            <key>jie_pre_attack_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,435},{72,137}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,137}}</string>
                <key>sourceSize</key>
                <string>{72,141}</string>
            </dict>
            <key>jie_run_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,140},{87,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,134}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{87,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,136}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{85,134}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,134}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,276},{83,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{83,134}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{79,134}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{79,134}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,430},{77,132}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{77,132}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,138},{79,134}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{79,134}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{79,136}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,136}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,140},{81,136}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{81,136}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,280},{83,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,136}}</string>
                <key>sourceSize</key>
                <string>{87,136}</string>
            </dict>
            <key>jie_run_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,419},{88,122}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,122}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,419},{88,126}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,126}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,388},{92,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,124}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{94,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,126}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,133},{94,126}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,126}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,412},{94,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{94,126}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,396},{94,124}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,124}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,415},{92,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,266},{90,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,419},{88,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{88,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>jie_run_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,261},{80,125}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{80,125}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,135},{80,129}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{80,129}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,135},{80,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,131}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,138},{78,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,133}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{76,131}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,131}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{76,129}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{76,129}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,246},{78,123}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,123}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,268},{80,129}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,129}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,274},{78,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,133}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_run_u_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,273},{80,131}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,131}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>jie_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,141},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,280},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,141},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,280},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,141},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>jie_stand_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,291},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creature_jie.png</string>
            <key>size</key>
            <string>{1598,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ebad88f84be65e4b298fad88c99c695:1/1$</string>
            <key>textureFileName</key>
            <string>creature_jie.png</string>
        </dict>
    </dict>
</plist>
