<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jia01.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1150},{145,152}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,149},{145,152}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia02.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,245},{193,146}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,161},{193,146}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia03.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{241,222}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,100},{241,222}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia04.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,624},{267,270}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{267,270}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia05.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,538},{267,294}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{267,294}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{277,298}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{277,298}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia07.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,271},{277,304}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{277,304}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{267,316}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{267,316}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia09.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,269},{267,320}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{267,320}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{267,328}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,328}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,328}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,328}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia12.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{265,326}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{265,326}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia13.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,550},{265,242}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,86},{265,242}}</string>
                <key>sourceSize</key>
                <string>{277,328}</string>
            </dict>
            <key>jia_attack_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1694},{81,172}}</string>
                <key>offset</key>
                <string>{-31,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,10},{81,172}}</string>
                <key>sourceSize</key>
                <string>{267,240}</string>
            </dict>
            <key>jia_attack_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1163},{111,159}}</string>
                <key>offset</key>
                <string>{-79,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{111,159}}</string>
                <key>sourceSize</key>
                <string>{269,181}</string>
            </dict>
            <key>jia_attack_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1872},{82,160}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,25},{82,160}}</string>
                <key>sourceSize</key>
                <string>{254,186}</string>
            </dict>
            <key>jia_corpse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{137,181}}</string>
                <key>offset</key>
                <string>{47,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,75},{137,181}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,819},{105,165}}</string>
                <key>offset</key>
                <string>{12,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{105,165}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1485},{157,119}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,55},{157,119}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1095},{177,117}}</string>
                <key>offset</key>
                <string>{-27,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{177,117}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{159,179}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,41},{159,179}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1247},{117,161}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{117,161}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1163},{109,161}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,50},{109,161}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_dead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1410},{117,109}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,91},{117,109}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_dead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,393},{133,229}}</string>
                <key>offset</key>
                <string>{45,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,54},{133,229}}</string>
                <key>sourceSize</key>
                <string>{231,283}</string>
            </dict>
            <key>jia_pre_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1717},{93,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1789},{93,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,132}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1707},{93,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,132}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1707},{93,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,132}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1717},{93,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,132}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1684},{93,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1589},{93,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1494},{93,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1399},{93,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_pre_attack_D1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,892},{94,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{94,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{94,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,991},{96,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D5.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,893},{96,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D6.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,905},{96,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,807},{96,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,794},{96,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D9.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1089},{94,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,191}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_D_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,528},{94,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,193}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>jia_pre_attack_R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1119},{129,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,988},{129,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1281},{129,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1379},{127,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{127,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R6.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1214},{127,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{127,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1250},{127,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{127,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1311},{127,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{127,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R9.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,972},{129,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_R_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,794},{129,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,176}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>jia_pre_attack_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1304},{93,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,134}}</string>
                <key>sourceSize</key>
                <string>{93,134}</string>
            </dict>
            <key>jia_run_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1863},{95,168}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{95,168}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1853},{93,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,170}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1802},{91,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{91,164}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1779},{91,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{91,166}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1777},{93,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,170}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1680},{95,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,172}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1863},{95,168}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{95,168}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1601},{93,164}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{93,164}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1506},{93,164}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{93,164}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1851},{93,166}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{93,166}}</string>
                <key>sourceSize</key>
                <string>{97,172}</string>
            </dict>
            <key>jia_run_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1324},{97,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{97,159}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1884},{95,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,163}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1696},{91,155}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{91,155}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1872},{91,157}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{91,157}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1872},{91,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{91,159}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1895},{93,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,161}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1872},{93,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{93,159}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1614},{91,155}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{91,155}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1521},{91,155}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{91,155}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1872},{91,157}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{91,157}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>jia_run_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1508},{90,175}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{90,175}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1003},{90,179}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{90,179}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1771},{90,173}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{90,173}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1600},{92,173}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{92,173}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1437},{92,175}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,175}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1185},{94,177}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,177}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1412},{92,175}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{92,175}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1625},{90,173}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{90,173}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1531},{92,173}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{92,173}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_run_u_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1343},{92,175}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{92,175}}</string>
                <key>sourceSize</key>
                <string>{96,181}</string>
            </dict>
            <key>jia_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,807},{99,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,177}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{99,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,175}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,807},{99,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,177}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1569},{99,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,175}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1503},{99,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,175}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1326},{99,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,175}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,986},{99,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,175}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1070},{99,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,175}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,893},{99,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,175}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
            <key>jia_stand_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,986},{99,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,175}}</string>
                <key>sourceSize</key>
                <string>{99,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creature_jia.png</string>
            <key>size</key>
            <string>{1216,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e4aef7a6bf839b6bee15044f9c635ae:1/1$</string>
            <key>textureFileName</key>
            <string>creature_jia.png</string>
        </dict>
    </dict>
</plist>
