<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,826},{31,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,77}}</string>
                <key>sourceSize</key>
                <string>{31,77}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1010},{31,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,77}}</string>
                <key>sourceSize</key>
                <string>{31,77}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,271},{31,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,77}}</string>
                <key>sourceSize</key>
                <string>{31,77}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,500},{31,73}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,73}}</string>
                <key>sourceSize</key>
                <string>{31,77}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,1010},{31,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,77}}</string>
                <key>sourceSize</key>
                <string>{31,77}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,192},{31,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,77}}</string>
                <key>sourceSize</key>
                <string>{31,77}</string>
            </dict>
            <key>baozha_lan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,331},{163,175}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,40},{163,175}}</string>
                <key>sourceSize</key>
                <string>{239,243}</string>
            </dict>
            <key>baozha_lan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{213,217}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{213,217}}</string>
                <key>sourceSize</key>
                <string>{239,243}</string>
            </dict>
            <key>baozha_lan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{209,213}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{209,213}}</string>
                <key>sourceSize</key>
                <string>{239,243}</string>
            </dict>
            <key>baozha_lan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,229}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{219,229}}</string>
                <key>sourceSize</key>
                <string>{239,243}</string>
            </dict>
            <key>baozha_lan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{217,223}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{217,223}}</string>
                <key>sourceSize</key>
                <string>{239,243}</string>
            </dict>
            <key>baozha_lan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,356},{197,191}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{197,191}}</string>
                <key>sourceSize</key>
                <string>{239,243}</string>
            </dict>
            <key>baozha_lan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,365},{157,165}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{157,165}}</string>
                <key>sourceSize</key>
                <string>{239,243}</string>
            </dict>
            <key>baozha_lan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,196},{129,133}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{129,133}}</string>
                <key>sourceSize</key>
                <string>{239,243}</string>
            </dict>
            <key>jing_attack_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,532},{126,163}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{126,163}}</string>
                <key>sourceSize</key>
                <string>{126,207}</string>
            </dict>
            <key>jing_attack_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,365},{70,168}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{70,168}}</string>
                <key>sourceSize</key>
                <string>{134,206}</string>
            </dict>
            <key>jing_attack_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,664},{124,167}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{124,167}}</string>
                <key>sourceSize</key>
                <string>{124,203}</string>
            </dict>
            <key>jing_corpse.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1073},{134,72}}</string>
                <key>offset</key>
                <string>{8,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,102},{134,72}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,790},{68,166}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,8},{68,166}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,192},{136,164}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{136,164}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead10.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1047},{126,104}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,70},{126,104}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,192},{140,166}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,8},{140,166}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,508},{118,154}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{118,154}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,664},{90,160}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{90,160}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,549},{100,174}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,174}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,534},{98,164}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{98,164}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,549},{100,156}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{100,156}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1047},{126,104}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,70},{126,104}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_dead9.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,804},{128,106}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,68},{128,106}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>jing_pre_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,363},{184,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,167}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,194},{180,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,169}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,365},{180,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{180,169}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,363},{182,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{182,169}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,194},{184,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,192},{184,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,192},{184,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,331},{184,169}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,331},{184,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,167}}</string>
                <key>sourceSize</key>
                <string>{184,171}</string>
            </dict>
            <key>jing_pre_attack_D1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{228,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{228,188}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,2},{224,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{224,188}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_D3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2},{224,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{224,188}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_D4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{226,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{226,190}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_D5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{228,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,192}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_D6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{230,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,192}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_D7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{230,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,192}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_D8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{230,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,192}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_D9.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{230,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{230,188}}</string>
                <key>sourceSize</key>
                <string>{230,194}</string>
            </dict>
            <key>jing_pre_attack_R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,849},{135,196}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{135,196}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_pre_attack_R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,849},{135,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{135,196}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_pre_attack_R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,651},{137,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{137,196}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_pre_attack_R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,873},{137,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,198}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_pre_attack_R5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,196},{133,200}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{133,200}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_pre_attack_R6.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,196},{133,200}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{133,200}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_pre_attack_R7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,673},{137,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,198}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_pre_attack_R8.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,221},{133,198}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{133,198}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_pre_attack_R9.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,651},{135,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,196}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>jing_run_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,855},{128,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,860},{128,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,990},{128,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,535},{126,153}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,536},{126,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,998},{128,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,998},{128,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,839},{128,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,912},{128,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,700},{128,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,153}}</string>
                <key>sourceSize</key>
                <string>{128,155}</string>
            </dict>
            <key>jing_run_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,969},{83,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,508},{81,164}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,802},{83,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1067},{83,164}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1054},{79,164}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{79,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1048},{77,164}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{77,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,828},{75,164}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{75,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,992},{73,164}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{73,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,832},{75,164}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{75,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,969},{77,164}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{77,164}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>jing_run_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,660},{126,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,170}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,660},{126,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,536},{126,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,534},{124,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,630},{124,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,532},{126,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,628},{126,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,502},{126,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,358},{126,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_run_u_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,360},{126,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,174}</string>
            </dict>
            <key>jing_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1010},{128,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,674},{126,163}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,829},{124,163}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,697},{124,163}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,994},{128,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,862},{128,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,860},{128,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,839},{128,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,663},{128,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
            <key>jing_stand_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,664},{128,163}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,163}}</string>
                <key>sourceSize</key>
                <string>{128,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creatures11.png</string>
            <key>size</key>
            <string>{2046,1153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b18bc698f091a1c00fa6da97a3e0e598:1/1$</string>
            <key>textureFileName</key>
            <string>creatures11.png</string>
        </dict>
    </dict>
</plist>
