<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1993},{26,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,119}}</string>
                <key>sourceSize</key>
                <string>{30,119}</string>
            </dict>
            <key>hongguai_fuhuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,544},{207,132}}</string>
                <key>offset</key>
                <string>{-16,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,196},{207,132}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>hongguai_fuhuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,626},{215,186}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,151},{215,186}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>hongguai_fuhuo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{291,264}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{291,264}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>hongguai_fuhuo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,324},{291,300}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{291,300}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>hongguai_fuhuo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,354}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>hongguai_fuhuo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{291,320}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{291,320}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>hongguai_fuhuo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{291,318}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{291,318}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>hongguai_fuhuo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{291,320}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{291,320}}</string>
                <key>sourceSize</key>
                <string>{291,354}</string>
            </dict>
            <key>nu_attack_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1176},{175,194}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{175,194}}</string>
                <key>sourceSize</key>
                <string>{225,242}</string>
            </dict>
            <key>nu_attack_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,360},{102,182}}</string>
                <key>offset</key>
                <string>{-91,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,70},{102,182}}</string>
                <key>sourceSize</key>
                <string>{304,252}</string>
            </dict>
            <key>nu_attack_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,352},{173,199}}</string>
                <key>offset</key>
                <string>{-15,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{173,199}}</string>
                <key>sourceSize</key>
                <string>{229,259}</string>
            </dict>
            <key>nu_corpse.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1628},{184,113}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,110},{184,113}}</string>
                <key>sourceSize</key>
                <string>{196,231}</string>
            </dict>
            <key>nu_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,814},{106,185}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{106,185}}</string>
                <key>sourceSize</key>
                <string>{196,231}</string>
            </dict>
            <key>nu_dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1001},{114,171}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{114,171}}</string>
                <key>sourceSize</key>
                <string>{196,231}</string>
            </dict>
            <key>nu_dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1124},{140,165}}</string>
                <key>offset</key>
                <string>{-16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,64},{140,165}}</string>
                <key>sourceSize</key>
                <string>{196,231}</string>
            </dict>
            <key>nu_dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1815},{162,167}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{162,167}}</string>
                <key>sourceSize</key>
                <string>{196,231}</string>
            </dict>
            <key>nu_dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,720},{164,171}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,60},{164,171}}</string>
                <key>sourceSize</key>
                <string>{196,231}</string>
            </dict>
            <key>nu_dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,841},{168,131}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,95},{168,131}}</string>
                <key>sourceSize</key>
                <string>{196,231}</string>
            </dict>
            <key>nu_pre_attack_R1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,886},{137,161}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,161}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_R2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1025},{139,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,161}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_R3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1115},{137,159}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,159}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_R4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,909},{141,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,159}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_R5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,1254},{139,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{139,159}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_R6.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1485},{141,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,159}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_R7.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1485},{141,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,159}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_R8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1208},{139,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{139,159}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_R9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,974},{139,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,161}}</string>
                <key>sourceSize</key>
                <string>{141,161}</string>
            </dict>
            <key>nu_pre_attack_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,360},{214,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,185}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,268},{216,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{216,185}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,814},{214,185}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{214,185}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,547},{214,183}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{214,183}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,360},{214,183}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{214,183}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,177},{216,181}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{216,181}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,455},{216,181}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{216,181}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{220,181}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{220,181}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{220,183}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,183}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1185},{218,183}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,183}}</string>
                <key>sourceSize</key>
                <string>{220,185}</string>
            </dict>
            <key>nu_pre_attack_u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,545},{223,173}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{223,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u10.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,638},{225,173}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{225,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,177},{223,173}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{223,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,185},{223,173}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{223,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1370},{223,171}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{223,171}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{223,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1001},{225,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1599},{227,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{227,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_pre_attack_u9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,2},{227,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,173}}</string>
                <key>sourceSize</key>
                <string>{227,173}</string>
            </dict>
            <key>nu_run_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1347},{136,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{136,154}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,753},{132,154}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{132,154}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1683},{138,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{138,150}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1541},{144,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{144,150}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1395},{144,154}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{144,154}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1480},{146,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,158}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1541},{140,150}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{140,150}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,1070},{136,146}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{136,146}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1823},{138,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,148}}</string>
                <key>sourceSize</key>
                <string>{138,148}</string>
            </dict>
            <key>nu_run_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,753},{132,154}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{132,154}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,683},{156,172}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{156,172}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1130},{146,180}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{146,180}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,527},{154,174}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{154,174}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1628},{150,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{150,180}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,813},{142,186}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{142,186}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,732},{138,194}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{138,194}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,928},{132,194}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{132,194}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1176},{132,192}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{132,192}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1347},{136,190}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,4},{136,190}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1810},{136,186}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{136,186}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>nu_run_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1815},{151,187}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{151,187}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_run_u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1485},{141,189}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{141,189}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_run_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1628},{157,185}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{157,185}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_run_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1815},{161,185}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{161,185}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_run_u_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1628},{161,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{161,185}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_run_u_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1814},{157,189}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,189}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_run_u_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1291},{149,187}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,187}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_run_u_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1628},{143,185}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{143,185}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_run_u_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1823},{138,148}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{138,148}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>nu_run_u_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1291},{137,187}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{137,187}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>nu_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1372},{175,195}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,195}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1174},{171,197}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,931},{169,197}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1001},{171,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{171,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1768},{173,197}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{173,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1794},{171,197}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{171,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1569},{173,197}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{173,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1828},{173,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{173,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,732},{169,197}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{169,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
            <key>nu_stand_d_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1595},{171,197}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{171,197}}</string>
                <key>sourceSize</key>
                <string>{177,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creatures6.png</string>
            <key>size</key>
            <string>{1557,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5899d864cbd9de7e99ad33904d502e73:1/1$</string>
            <key>textureFileName</key>
            <string>creatures6.png</string>
        </dict>
    </dict>
</plist>
