<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chunbaise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chunheise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>di_tiaoguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,204},{232,130}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,59},{232,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>duihuadikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,438},{91,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,68}}</string>
                <key>sourceSize</key>
                <string>{91,68}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,372},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>glow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,605},{110,110}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>quan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{194,194}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{194,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,446},{157,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{157,137}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>shou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,518},{177,101}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{177,101}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,438},{91,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,68}}</string>
                <key>sourceSize</key>
                <string>{91,68}</string>
            </dict>
            <key>tuxing_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{200,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tuxing_yuanjiaofangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,605},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{90,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wenzi_djlks.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,204},{238,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{238,46}}</string>
                <key>sourceSize</key>
                <string>{256,60}</string>
            </dict>
            <key>wenzi_jiaocheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,697},{172,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{172,46}}</string>
                <key>sourceSize</key>
                <string>{190,58}</string>
            </dict>
            <key>wenzi_jiushini.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{142,46}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,99},{142,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wenzi_qjszcmycgj.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,204},{240,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{240,25}}</string>
                <key>sourceSize</key>
                <string>{256,39}</string>
            </dict>
            <key>wenzi_tdlydjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,146},{224,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{224,32}}</string>
                <key>sourceSize</key>
                <string>{256,46}</string>
            </dict>
            <key>wenzi_tiaoguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,508},{95,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{95,46}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newbie_ui.png</string>
            <key>size</key>
            <string>{511,745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aa7b4065cdf91e15e7078a4334f4fda:1/1$</string>
            <key>textureFileName</key>
            <string>newbie_ui.png</string>
        </dict>
    </dict>
</plist>
