<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ci_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,600},{198,243}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{198,243}}</string>
                <key>sourceSize</key>
                <string>{210,245}</string>
            </dict>
            <key>ci_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,760},{186,245}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{186,245}}</string>
                <key>sourceSize</key>
                <string>{210,245}</string>
            </dict>
            <key>ci_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{198,243}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{198,243}}</string>
                <key>sourceSize</key>
                <string>{210,245}</string>
            </dict>
            <key>ci_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,247},{196,243}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{196,243}}</string>
                <key>sourceSize</key>
                <string>{210,245}</string>
            </dict>
            <key>ci_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,282},{186,245}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{186,245}}</string>
                <key>sourceSize</key>
                <string>{210,245}</string>
            </dict>
            <key>siwang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,750},{172,138}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,161},{172,138}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>siwang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{190,178}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,123},{190,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>siwang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,800},{222,202}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,101},{222,202}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>siwang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{224,254}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{224,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>siwang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{260,278}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,36},{260,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>siwang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,290}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,26},{254,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>siwang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{226,278}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,13},{226,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>siwang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{230,280}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,11},{230,280}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>smoke_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,750},{119,88}}</string>
                <key>offset</key>
                <string>{4,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,239},{119,88}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,871},{87,74}}</string>
                <key>offset</key>
                <string>{20,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,230},{87,74}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,890},{127,142}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,157},{127,142}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,492},{133,198}}</string>
                <key>offset</key>
                <string>{-2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,117},{133,198}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,470},{147,256}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,82},{147,256}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,627},{121,254}}</string>
                <key>offset</key>
                <string>{24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,68},{121,254}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,282},{157,298}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{157,298}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,441},{157,294}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{157,294}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,619},{139,242}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{139,242}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,800},{109,222}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{109,222}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{63,148}}</string>
                <key>offset</key>
                <string>{-28,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{63,148}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,890},{65,96}}</string>
                <key>offset</key>
                <string>{-29,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,41},{65,96}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,152},{49,70}}</string>
                <key>offset</key>
                <string>{-23,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{49,70}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,832},{39,78}}</string>
                <key>offset</key>
                <string>{-19,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,13},{39,78}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,988},{11,34}}</string>
                <key>offset</key>
                <string>{-4,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,12},{11,34}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,294},{7,14}}</string>
                <key>offset</key>
                <string>{-2,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,12},{7,14}}</string>
                <key>sourceSize</key>
                <string>{181,344}</string>
            </dict>
            <key>smoke_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,576},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newbie_ani.png</string>
            <key>size</key>
            <string>{1018,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85e3adad1de209a76136464046db7ec6:1/1$</string>
            <key>textureFileName</key>
            <string>newbie_ani.png</string>
        </dict>
    </dict>
</plist>
