<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwang_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{2,2},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{253,2},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{504,2},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{755,2},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{1006,2},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{1257,2},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{1508,2},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{2,189},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{253,189},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,185}</string>
                <key>spriteSourceSize</key>
                <string>{249,185}</string>
                <key>textureRect</key>
                <string>{{504,189},{249,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{755,189},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1128,189},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1121,891},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{2,540},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{375,540},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{748,540},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1121,540},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1494,540},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{2,891},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{375,891},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{748,891},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newbie_ani.png</string>
            <key>size</key>
            <string>{1867,1242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9210f59a7083a9c75d5a5e903c760ec1:88f03ecfa3710355f69131c89714ef4a:857346323d519ec22b3015a9b75d4b84$</string>
            <key>textureFileName</key>
            <string>newbie_ani.png</string>
        </dict>
    </dict>
</plist>
