<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba_img_direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>efx_p_swordkee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1501},{30,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,380}}</string>
                <key>sourceSize</key>
                <string>{30,380}</string>
            </dict>
            <key>p1_att_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{75,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,118}}</string>
                <key>sourceSize</key>
                <string>{75,118}</string>
            </dict>
            <key>p1_att_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,145},{188,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,147}}</string>
                <key>sourceSize</key>
                <string>{188,147}</string>
            </dict>
            <key>p1_att_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,616},{75,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,165}}</string>
                <key>sourceSize</key>
                <string>{75,165}</string>
            </dict>
            <key>p1_attack_22_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{165,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,125}}</string>
                <key>sourceSize</key>
                <string>{165,125}</string>
            </dict>
            <key>p1_attack_22_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,145},{141,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,147}}</string>
                <key>sourceSize</key>
                <string>{141,147}</string>
            </dict>
            <key>p1_attack_45_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{109,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>p1_attack_45_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,616},{100,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,162}}</string>
                <key>sourceSize</key>
                <string>{100,162}</string>
            </dict>
            <key>p1_attack_66_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{76,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,121}}</string>
                <key>sourceSize</key>
                <string>{76,121}</string>
            </dict>
            <key>p1_attack_66_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,616},{72,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,167}}</string>
                <key>sourceSize</key>
                <string>{72,167}</string>
            </dict>
            <key>p1_dead_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,785},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>p1_dead_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>p1_dead_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,785},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>p1_dead_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,785},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>p1_dead_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,785},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>p1_dead_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,785},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>p1_dead_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,785},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>p1_dead_d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,785},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>p1_drop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,21}}</string>
                <key>sourceSize</key>
                <string>{68,21}</string>
            </dict>
            <key>p1_drop_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{6,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,49}}</string>
                <key>sourceSize</key>
                <string>{6,49}</string>
            </dict>
            <key>p1_drop_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,26}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>p1_light_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{132,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,129}}</string>
                <key>sourceSize</key>
                <string>{132,129}</string>
            </dict>
            <key>p1_revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1228},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive10.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1501},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1501},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive12.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1501},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive13.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1501},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive14.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1501},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive15.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1228},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,955},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,955},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,955},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive5.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1228},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive6.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1228},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_revive9.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,955},{235,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,271}}</string>
                <key>sourceSize</key>
                <string>{235,271}</string>
            </dict>
            <key>p1_run_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,2},{66,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,141}}</string>
                <key>sourceSize</key>
                <string>{66,141}</string>
            </dict>
            <key>p1_run_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{66,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,141}}</string>
                <key>sourceSize</key>
                <string>{66,141}</string>
            </dict>
            <key>p1_run_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{66,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,141}}</string>
                <key>sourceSize</key>
                <string>{66,141}</string>
            </dict>
            <key>p1_run_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{66,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,141}}</string>
                <key>sourceSize</key>
                <string>{66,141}</string>
            </dict>
            <key>p1_run_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2},{66,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,141}}</string>
                <key>sourceSize</key>
                <string>{66,141}</string>
            </dict>
            <key>p1_run_d_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{66,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,141}}</string>
                <key>sourceSize</key>
                <string>{66,141}</string>
            </dict>
            <key>p1_run_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,145},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>p1_run_l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>p1_run_l_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,145},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>p1_run_l_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,145},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>p1_run_l_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,145},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>p1_run_l_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,145},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,142}</string>
            </dict>
            <key>p1_run_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,300},{93,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,153}}</string>
                <key>sourceSize</key>
                <string>{93,153}</string>
            </dict>
            <key>p1_run_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,300},{93,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,153}}</string>
                <key>sourceSize</key>
                <string>{93,153}</string>
            </dict>
            <key>p1_run_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{93,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,153}}</string>
                <key>sourceSize</key>
                <string>{93,153}</string>
            </dict>
            <key>p1_run_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,145},{93,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,153}}</string>
                <key>sourceSize</key>
                <string>{93,153}</string>
            </dict>
            <key>p1_run_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,300},{93,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,153}}</string>
                <key>sourceSize</key>
                <string>{93,153}</string>
            </dict>
            <key>p1_run_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,300},{93,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,153}}</string>
                <key>sourceSize</key>
                <string>{93,153}</string>
            </dict>
            <key>p1_run_u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,300},{68,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,153}}</string>
                <key>sourceSize</key>
                <string>{68,153}</string>
            </dict>
            <key>p1_run_u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,300},{68,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,153}}</string>
                <key>sourceSize</key>
                <string>{68,153}</string>
            </dict>
            <key>p1_run_u_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,300},{68,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,153}}</string>
                <key>sourceSize</key>
                <string>{68,153}</string>
            </dict>
            <key>p1_run_u_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,145},{68,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,153}}</string>
                <key>sourceSize</key>
                <string>{68,153}</string>
            </dict>
            <key>p1_run_u_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,145},{68,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,153}}</string>
                <key>sourceSize</key>
                <string>{68,153}</string>
            </dict>
            <key>p1_run_u_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,145},{68,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,153}}</string>
                <key>sourceSize</key>
                <string>{68,153}</string>
            </dict>
            <key>p1_stand_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,300},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,458},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,458},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,300},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,300},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,300},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,300},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,300},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l6.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l7.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l8.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_l9.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,458},{70,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,156}}</string>
                <key>sourceSize</key>
                <string>{70,156}</string>
            </dict>
            <key>p1_stand_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,458},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,458},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,458},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,458},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,300},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,300},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,616},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,616},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,616},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,616},{62,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,156}}</string>
                <key>sourceSize</key>
                <string>{62,156}</string>
            </dict>
            <key>p1_stand_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u5.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u6.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u7.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u8.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,616},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
            <key>p1_stand_u9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,458},{58,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,156}}</string>
                <key>sourceSize</key>
                <string>{58,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player1.png</string>
            <key>size</key>
            <string>{1219,1883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef9e384b9eb9902125f00373d9ff431f:1/1$</string>
            <key>textureFileName</key>
            <string>player1.png</string>
        </dict>
    </dict>
</plist>
