<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle/arrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,56}</string>
                <key>spriteSourceSize</key>
                <string>{35,56}</string>
                <key>textureRect</key>
                <string>{{2,94},{35,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,32}</string>
                <key>spriteSourceSize</key>
                <string>{314,32}</string>
                <key>textureRect</key>
                <string>{{630,2},{314,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,91}</string>
                <key>spriteSourceSize</key>
                <string>{645,91}</string>
                <key>textureRect</key>
                <string>{{2,321},{645,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/bar_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,24}</string>
                <key>spriteSourceSize</key>
                <string>{160,24}</string>
                <key>textureRect</key>
                <string>{{417,2},{160,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/bar_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,16}</string>
                <key>spriteSourceSize</key>
                <string>{152,16}</string>
                <key>textureRect</key>
                <string>{{2,2},{152,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,661}</string>
                <key>spriteSourceSize</key>
                <string>{486,661}</string>
                <key>textureRect</key>
                <string>{{2,1025},{486,661}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,84}</string>
                <key>textureRect</key>
                <string>{{361,233},{100,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/blood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,29}</string>
                <key>spriteSourceSize</key>
                <string>{20,29}</string>
                <key>textureRect</key>
                <string>{{608,2},{20,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/blood_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,60}</string>
                <key>spriteSourceSize</key>
                <string>{672,60}</string>
                <key>textureRect</key>
                <string>{{2,156},{672,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{463,233},{96,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/btn_break.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{140,148}</string>
                <key>textureRect</key>
                <string>{{2,669},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/btn_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{656,522},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/btn_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,80}</string>
                <key>textureRect</key>
                <string>{{164,233},{195,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,115}</string>
                <key>spriteSourceSize</key>
                <string>{229,115}</string>
                <key>textureRect</key>
                <string>{{2,522},{229,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{163,94},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{225,94},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{101,94},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{39,94},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{693,94},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{676,156},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{815,156},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_attribute.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{514,522},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_consume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,47}</string>
                <key>spriteSourceSize</key>
                <string>{209,47}</string>
                <key>textureRect</key>
                <string>{{183,36},{209,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{372,522},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/icon_sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{738,156},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/label_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,33}</string>
                <key>spriteSourceSize</key>
                <string>{93,33}</string>
                <key>textureRect</key>
                <string>{{2,36},{93,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{243,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{301,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{359,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{579,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{330,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{156,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{185,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{214,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{388,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/pg/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{272,2},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/bg_desc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,354}</string>
                <key>spriteSourceSize</key>
                <string>{195,354}</string>
                <key>textureRect</key>
                <string>{{462,669},{195,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/bg_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{144,669},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/btm_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,94}</string>
                <key>spriteSourceSize</key>
                <string>{188,94}</string>
                <key>textureRect</key>
                <string>{{2,415},{188,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{301,415},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/icon_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{58,86}</string>
                <key>textureRect</key>
                <string>{{649,233},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/icon_product.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{966,36},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/icon_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,105}</string>
                <key>spriteSourceSize</key>
                <string>{297,105}</string>
                <key>textureRect</key>
                <string>{{502,415},{297,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{82,233},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{401,415},{99,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,102}</string>
                <key>spriteSourceSize</key>
                <string>{107,102}</string>
                <key>textureRect</key>
                <string>{{192,415},{107,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,122}</string>
                <key>spriteSourceSize</key>
                <string>{137,122}</string>
                <key>textureRect</key>
                <string>{{233,522},{137,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,145}</string>
                <key>spriteSourceSize</key>
                <string>{147,145}</string>
                <key>textureRect</key>
                <string>{{798,522},{147,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,185}</string>
                <key>spriteSourceSize</key>
                <string>{154,185}</string>
                <key>textureRect</key>
                <string>{{306,669},{154,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/prop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{561,233},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/shop/prop_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{2,233},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/star_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{140,36},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle/star_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{97,36},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel/arrow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,91}</string>
                <key>spriteSourceSize</key>
                <string>{63,91}</string>
                <key>textureRect</key>
                <string>{{649,321},{63,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel/arrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,91}</string>
                <key>spriteSourceSize</key>
                <string>{63,91}</string>
                <key>textureRect</key>
                <string>{{714,321},{63,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{779,321},{97,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel/icon_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{892,156},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel/tip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,53}</string>
                <key>spriteSourceSize</key>
                <string>{570,53}</string>
                <key>textureRect</key>
                <string>{{394,36},{570,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel/title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,60}</string>
                <key>spriteSourceSize</key>
                <string>{404,60}</string>
                <key>textureRect</key>
                <string>{{287,94},{404,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b6a03cf305dc6979906a0048ab948c:0029d51a8676167a67aefd089d93622a:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
