<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle/arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,422},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{35,56}</string>
            </dict>
            <key>battle/bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,64},{314,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,32}}</string>
                <key>sourceSize</key>
                <string>{314,32}</string>
            </dict>
            <key>battle/bar_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,51},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>battle/bar_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,237},{152,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,16}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>battle/bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,661}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,661}}</string>
                <key>sourceSize</key>
                <string>{486,661}</string>
            </dict>
            <key>battle/bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,396},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>battle/blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,2},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>battle/blood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{672,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,60}}</string>
                <key>sourceSize</key>
                <string>{672,60}</string>
            </dict>
            <key>battle/btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,396},{102,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>battle/btn_break.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,147},{140,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,148}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>battle/btn_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,343},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>battle/btn_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,64},{195,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,80}}</string>
                <key>sourceSize</key>
                <string>{195,80}</string>
            </dict>
            <key>battle/btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,226},{229,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,115}}</string>
                <key>sourceSize</key>
                <string>{229,115}</string>
            </dict>
            <key>battle/icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,356},{50,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{50,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,297},{58,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{58,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,237},{60,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,388},{60,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,415},{42,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{42,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,362},{56,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>battle/icon_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,357},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle/icon_attribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,254},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>battle/icon_consume.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,2},{209,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,47}}</string>
                <key>sourceSize</key>
                <string>{209,47}</string>
            </dict>
            <key>battle/icon_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,254},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>battle/icon_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,420},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle/label_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,299},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,33}}</string>
                <key>sourceSize</key>
                <string>{93,33}</string>
            </dict>
            <key>battle/pg/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,212},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,445},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,458},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,459},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,459},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,450},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,450},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,359},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,333},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/pg/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,213},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>battle/shop/bg_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,119},{195,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,354}}</string>
                <key>sourceSize</key>
                <string>{195,354}</string>
            </dict>
            <key>battle/shop/bg_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,146},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>battle/shop/btm_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,51},{188,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,94}}</string>
                <key>sourceSize</key>
                <string>{188,94}</string>
            </dict>
            <key>battle/shop/btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,256},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>battle/shop/icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,396},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>battle/shop/icon_product.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,362},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>battle/shop/icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,119},{297,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,105}}</string>
                <key>sourceSize</key>
                <string>{297,105}</string>
            </dict>
            <key>battle/shop/item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,306},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>battle/shop/item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,226},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>battle/shop/item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,147},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
            <key>battle/shop/item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,98},{137,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,122}}</string>
                <key>sourceSize</key>
                <string>{137,122}</string>
            </dict>
            <key>battle/shop/item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,343},{147,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,145}}</string>
                <key>sourceSize</key>
                <string>{147,145}</string>
            </dict>
            <key>battle/shop/item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,98},{154,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,185}}</string>
                <key>sourceSize</key>
                <string>{154,185}</string>
            </dict>
            <key>battle/shop/prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,306},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>battle/shop/prop_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,394},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>battle/star_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,402},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>battle/star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,415},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>panel/arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,297},{63,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,91}}</string>
                <key>sourceSize</key>
                <string>{63,91}</string>
            </dict>
            <key>panel/arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,119},{63,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,91}}</string>
                <key>sourceSize</key>
                <string>{63,91}</string>
            </dict>
            <key>panel/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,396},{97,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,92}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>panel/icon_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,394},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>panel/tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,64},{570,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,53}}</string>
                <key>sourceSize</key>
                <string>{570,53}</string>
            </dict>
            <key>panel/title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,2},{404,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,60}}</string>
                <key>sourceSize</key>
                <string>{404,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1980,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52873f13c54d20e8605c605b7a237139:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
