<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwang_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{2,2},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{308,2},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{614,2},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{920,2},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{1226,2},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{1532,2},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{2,226},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{308,226},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{614,226},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,222}</string>
                <key>spriteSourceSize</key>
                <string>{304,222}</string>
                <key>textureRect</key>
                <string>{{920,226},{304,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1226,226},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{2,577},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1494,928},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{375,577},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{748,577},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1121,577},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1494,577},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{2,928},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{375,928},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{748,928},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1121,928},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newbie_ani.png</string>
            <key>size</key>
            <string>{1867,1279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1757f47ec947bb8193d1ecd9c9ff1175:6626f05b01971c3ee531a0d861778c61:857346323d519ec22b3015a9b75d4b84$</string>
            <key>textureFileName</key>
            <string>newbie_ani.png</string>
        </dict>
    </dict>
</plist>
