<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siwang_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{2,2},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{281,2},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{1118,210},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{1397,210},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{2,418},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{281,418},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{560,418},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{839,418},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{1118,418},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{560,2},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{839,2},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{1118,2},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{1397,2},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{2,210},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{281,210},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{560,210},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>siwang_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,206}</string>
                <key>spriteSourceSize</key>
                <string>{277,206}</string>
                <key>textureRect</key>
                <string>{{839,210},{277,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1397,418},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{2,769},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1494,1120},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{375,769},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{748,769},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1121,769},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1494,769},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{2,1120},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{375,1120},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{748,1120},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smoke_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,349}</string>
                <key>spriteSourceSize</key>
                <string>{371,349}</string>
                <key>textureRect</key>
                <string>{{1121,1120},{371,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newbie_ani.png</string>
            <key>size</key>
            <string>{1867,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376981a0e6669ea3c5a5d4eabf752765:abefc3fc71e26537adfb69c11c8717d9:857346323d519ec22b3015a9b75d4b84$</string>
            <key>textureFileName</key>
            <string>newbie_ani.png</string>
        </dict>
    </dict>
</plist>
